{% include "includes/header-comment.txt" %}
FROM ruby:2.6

{% include "includes/dev-account-setup.txt" %}

RUN echo '# Install Ruby Gems to ~/gems' >> ~/.bashrc && \ 
    echo 'export GEM_HOME="$HOME/gems"' >> ~/.bashrc && \
    echo 'export PATH="$HOME/gems/bin:$PATH"' >> ~/.bashrc && \
    gem install jekyll bundler

ENTRYPOINT [ "bash" ]